@model IReadOnlyList<VeterinarioViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table id="tabellaVet" class="table border rounded-3 table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Cognome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Indirizzo</th>
                        <th scope="col">Comune</th>
                        <th scope="col">Tipo Centro</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="10">Nessun veterinario presente</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Nome</td>
                                <td>@item.Cognome</td>
                                <td>@item.Email</td>
                                <td>@item.NumeroTelefono</td>
                                <td>@item.Indirizzo</td>
                                <td>@item.Comune</td>
                                <td>@item.TipoVeterinario</td>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    @if (item.Id == UserManager.GetUserId(User))
                                    {
                                        <td><a class='btn btn-sm btn-link' onclick='openModaleInserimentoVet("@item.Id")' title="Aggiorna Informazioni"><i class="fa-solid fa-pen"></i></a></td>

                                    }
                                    else if(item.Id != UserManager.GetUserId(User) && Context.User.IsInRole("Veterinario"))
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td><a class='btn btn-sm btn-link' onclick='openModaleInserimentoRecensione(null,null,"@item.Id")' title="Aggiungi Recensione"><i class="fa-solid fa-comment"></i></a></td>
                                        
                                    }
                                    <td><a class='btn btn-sm btn-link' onclick='openModaleVisualizzaRecensioni("@item.Id")' title="Visualizza Recensioni"><i class="fa-solid fa-eye"></i></a></td>
                                    <td><a class='btn btn-sm btn-link' onclick='myAlert("Note Veterinario", "@item.Note")' title="Visualizza Note"><i class="fa-solid fa-circle-info"></i></a></td>
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                }
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
